@charset "UTF-8";
/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

body {
  background: #1E1E1E;
  background-image: url("/assets/images/backgrounds/bg_moutaincity.png");
  background-size: cover;
  background-attachment: fixed;
  transition: background-image 3s ease-in-out, opacity 3s ease-in-out;
  opacity: 1;
}

body, ul, li, h1, h2, h3, p {
  color: #e7e7e7;
  font-weight: normal;
  font-size: 12px;
  line-height: 13.2px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  /* Medium and up */
  /* Large and up */
}
@media screen and (min-width: 40em) {
  body, ul, li, h1, h2, h3, p {
    font-size: 14px;
    line-height: 15.4px;
  }
}
@media screen and (min-width: 64em) {
  body, ul, li, h1, h2, h3, p {
    font-size: 16px;
    line-height: 17.6px;
  }
}

header {
  color: #e7e7e7;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 99;
}

main {
  background: transparent !important;
  color: #e7e7e7;
  height: 100%;
  min-height: 100vh;
}

footer {
  color: #e7e7e7;
  position: fixed;
  width: 100%;
  bottom: 0px;
  z-index: 99;
}

h1 {
  color: #e7e7e7;
  font: bold 1.25rem/1.45rem Manuale, serif;
  text-transform: none;
}

h2 {
  color: #e7e7e7;
  font: bold 1.25rem/1.45rem Manuale, serif;
  font-size: 1.0625rem;
  line-height: 1.2325rem;
  text-transform: none;
}

h3 {
  color: #e7e7e7;
  font: bold 1.25rem/1.45rem Manuale, serif;
  font-size: 0.9375rem;
  line-height: 1.0875rem;
  text-transform: none;
}

p {
  color: #e7e7e7;
  font: normal 1rem/1.35rem Manuale, serif;
  text-transform: none;
}

i.fa-solid, i.fa-regular, i.fa-brands {
  margin-right: 0.625rem;
}

hr {
  margin: 0.625rem 0;
}

li {
  color: #e7e7e7;
  font: normal 1rem/1.35rem Manuale, serif;
}

a, a:hover, a:active, a:focus {
  color: #E34646;
  text-transform: none;
}
a:hover, a:hover:hover, a:active:hover, a:focus:hover {
  color: #f09f9f;
}

form label {
  display: inline-block;
  font: normal 1rem/1.35rem Manuale, serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #e7e7e7;
  margin-bottom: 0.625rem;
}
form label.input-error {
  color: rgb(196, 118, 118);
  font-weight: bold;
  margin-top: 0.625rem;
  margin-bottom: 1.5rem;
}
form input, form select {
  font: normal 1rem/1.35rem Manuale, serif;
  display: block;
  font-size: inherit;
  margin-bottom: 1.5rem;
  padding: 0.625rem 1.25rem;
  width: calc(100% - 2.5rem);
}
form input.input-error, form select.input-error {
  background: rgb(196, 118, 118);
  border-color: #944040;
  color: #944040;
  margin-bottom: 0;
}
form select {
  width: 100%;
}
form textarea {
  resize: none;
}
form textarea.input-error {
  background: rgb(196, 118, 118);
  border-color: #944040;
  color: #944040;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: "›";
}
ul li {
  padding: 0 0 0.625rem 0.625rem;
}

/* Small only */
/* Medium only */
/* Large only */
/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
.button {
  cursor: pointer;
  display: inline-block;
  font: normal 1rem/1.35rem Manuale, serif;
  padding: 0.625rem 1.25rem;
  margin-bottom: 0;
}
.button.solid {
  border-radius: 0.313rem;
  border: solid 0.063rem #7D1717;
  color: #e7e7e7 !important;
  background-color: #7D1717;
}
.button.solid:hover {
  background-color: #d32727;
}
.button.clear {
  color: #e7e7e7;
}
.button.clear:hover, .button.clear:active, .button.clear:focus {
  color: #E34646;
}

/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
.alert {
  display: block;
  border: solid 1px #cc0000;
  background: #FFCCCC;
  margin: 0 !important;
  padding: 1.25rem;
}
.alert ul li, .alert ol li {
  color: #cc0000;
  font-weight: bold;
}
.alert ul li:only-child, .alert ol li:only-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
.event-container {
  background: #1E1E1E;
  border-radius: 0.313rem;
  position: relative;
  overflow: hidden;
}
.event-container span {
  bottom: 0;
  color: #e7e7e7;
  font-weight: bold;
  left: 0;
  padding: 0.625rem;
  position: absolute;
  width: 100%;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000; /*bottom */
}
.event-container.disabled {
  cursor: default;
  pointer-events: none !important;
  opacity: 0.6;
  filter: grayscale(1);
}

/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
.choice-row {
  margin-bottom: 1.25rem;
  /* Small only */
}
@media screen and (max-width: 39.9375em) {
  .choice-row {
    padding: 0.625rem;
  }
  .choice-row:not(:last-child) {
    border-bottom: solid 1px #6b6b6b;
  }
}

.disabled {
  filter: grayscale(100%);
  pointer-events: none !important;
  opacity: 0.7;
}

.form-data {
  font-weight: bold;
}

label.input-error {
  display: block;
  color: rgb(196, 118, 118);
  font-weight: bold;
  margin: 1.25rem 0;
}

#choice-description {
  display: block;
}

#choice-details {
  display: block;
  border: solid 1px #fff;
  padding: 1.25rem;
  margin: 1.25rem 0;
}
#choice-details p:last-child {
  margin-bottom: 0;
}
#choice-details input {
  display: inline-block;
  width: auto;
}

#choice-actions {
  display: block;
}

.reveal {
  background: #1E1E1E;
  border-radius: 0.313rem;
}

.spacer-image {
  margin-bottom: 1.25rem;
}

.text-center {
  text-align: center;
}

.content-wrapper {
  border-radius: 0.313rem;
  overflow: hidden;
  width: 100%;
}
.content-wrapper.solid {
  background-color: #1E1E1E;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
}
.content-wrapper.transparent {
  background-color: rgba(30, 30, 30, 0.5);
}

/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
.event-container {
  background: #1E1E1E;
  border-radius: 0.313rem;
  position: relative;
  overflow: hidden;
}
.event-container span {
  bottom: 0;
  color: #e7e7e7;
  font-weight: bold;
  left: 0;
  padding: 0.625rem;
  position: absolute;
  width: 100%;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000; /*bottom */
}
.event-container.disabled {
  cursor: default;
  pointer-events: none !important;
  opacity: 0.6;
  filter: grayscale(1);
}

/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
.form-character .info-container {
  position: relative;
  height: auto;
  overflow: hidden;
  width: 100%;
  font-family: "Manuale", serif !important;
  font-size: 0.9rem !important;
  border-radius: 0.313rem;
  background: #1E1E1E;
  padding: 1.25rem;
  line-height: 1.8rem !important;
}
.form-character .info-container hr {
  margin: 0.625rem 0;
  border-color: #8f8f8f;
  width: 100%;
  max-width: 100%;
}
.form-character .info-container ul li {
  text-align: left;
}

/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
.tile {
  color: #fff;
  background: #1E1E1E;
  border-radius: 0.313rem;
  overflow: hidden;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000; /*bottom */
}
.tile-avatar-wrapper {
  width: 100%;
  background-color: #ccc; /* Optional */
  display: flex;
  overflow: hidden;
  height: 12.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.313rem;
  /* Medium and up */
}
@media screen and (min-width: 40em) {
  .tile-avatar-wrapper {
    height: 100%;
  }
}
.tile-avatar-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Small only */
}
@media screen and (max-width: 39.9375em) {
  .tile-avatar-wrapper img {
    object-position: top;
  }
}
.tile-status--pending {
  border: 2px solid;
  border-image: linear-gradient(45deg, #d4af37, #f7e694) 1;
}
.tile-status--pending img {
  filter: contrast(200%);
}
.tile-status--nieuw {
  border: solid 2px white;
}
.tile-status--actief {
  border: solid 2px white;
}
.tile-status--dood {
  border: solid 2px black;
}
.tile-status--dood img {
  filter: grayscale(100%);
}
.tile-status--locked {
  border: solid 2px white;
}
.tile-status--denied {
  border: solid 2px red;
}
.tile-status--deleted {
  border: solid 2px darkred;
}
.tile-status--inactief {
  border: solid 2px grey;
}
.tile-status--inactief img {
  filter: grayscale(70%);
}
.tile .tile-content {
  padding: 1.25rem;
}
.tile .tile-content h1 {
  font-size: 1.1rem;
  line-height: 1.2rem;
}
.tile .tile-content p {
  font-size: 0.9rem;
  line-height: 1rem;
}
.tile .tile-content table, .tile .tile-content tbody {
  font-size: 0.8rem;
  line-height: 0.9rem;
  background-color: transparent;
  padding: 0;
  margin: 0 0 1.25rem;
  border: none;
}
.tile .tile-content table tr, .tile .tile-content table td, .tile .tile-content tbody tr, .tile .tile-content tbody td {
  padding: 0 0 0.3125rem;
  margin: 0;
  background: none;
}
.tile .tile-content ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 1.25rem;
}
.tile .tile-content ul .decorated {
  list-style: inherit;
  margin-left: 0.3125rem;
}
.tile .tile-content ul li {
  font-size: 0.9rem;
  padding-left: 0.3125rem;
  padding-bottom: 0.3125rem;
}

/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
.navigation-site {
  border-bottom: solid 0.125rem #fff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
}
.navigation-footer {
  border-top: solid 0.125rem #fff;
  font-size: 0.8rem;
}
.navigation-site, .navigation-footer {
  background: #1E1E1E;
}
.navigation-site nav a, .navigation-footer nav a {
  display: inline-block;
  padding: 1.25rem;
  font: normal 1rem/1.35rem Manuale, serif;
}
.navigation-site nav ul li, .navigation-footer nav ul li {
  padding: 0 !important;
}
.navigation-site nav .accordion, .navigation-footer nav .accordion {
  background-color: #515151;
}
.navigation-site nav .accordion .accordion-item, .navigation-footer nav .accordion .accordion-item {
  background-color: #515151;
  color: #7D1717;
}
.navigation-site nav .accordion .accordion-title, .navigation-footer nav .accordion .accordion-title {
  color: #E34646;
  border: none;
}
.navigation-site nav .accordion .accordion-title:hover, .navigation-footer nav .accordion .accordion-title:hover {
  background-color: #6b6b6b;
}
.navigation-site nav .accordion .accordion-content, .navigation-footer nav .accordion .accordion-content {
  background-color: #6b6b6b;
  padding: 0;
  border: 0;
}
.navigation-site nav .dropdown, .navigation-footer nav .dropdown {
  position: relative;
  display: inline-block;
}
.navigation-site nav .dropdown .dropdown-content, .navigation-footer nav .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #515151;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navigation-site nav .dropdown .dropdown-content a, .navigation-footer nav .dropdown .dropdown-content a {
  display: block;
}
@media screen and (max-width: 39.9375em) {
  .navigation-site nav .dropdown .dropdown-content, .navigation-footer nav .dropdown .dropdown-content {
    width: 100vw;
  }
}
.navigation-site nav .dropdown:hover .dropdown-content, .navigation-footer nav .dropdown:hover .dropdown-content {
  display: block;
}

/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
.page-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 6.25rem 1.25rem 5rem;
}
.page-wrapper.solid {
  background-color: #1E1E1E;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
}
.page-wrapper.transparent {
  background-color: rgba(30, 30, 30, 0.5);
}

/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
.profile {
  text-align: center;
}
.profile .profile-avatar {
  cursor: pointer;
  position: relative;
  display: block;
  height: auto;
  width: 100%;
  border-radius: 0.313rem;
  overflow: hidden;
}
.profile .profile-avatar img {
  width: 100% !important;
}
.profile .profile-avatar .profile-avatar-action {
  cursor: pointer;
  position: absolute;
  display: block;
  background-color: rgba(30, 30, 30, 0.5);
  top: 100%;
  height: 100%;
  transition: top 500ms;
  width: 100%;
  padding: 1.25rem;
}
.profile .profile-avatar .profile-avatar-action ul li {
  font-size: 0.8rem !important;
}
.profile .profile-avatar:hover .profile-avatar-action {
  top: 0;
}
.profile .profile-name {
  display: block;
  font-size: 1.2rem;
}
.profile .profile-role {
  display: block;
  font-size: 0.8rem;
}

/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
.sortable {
  position: relative;
}
.sortable .sortable-wrapper {
  position: sticky;
  border-radius: 0.313rem;
  background: #1E1E1E;
  padding: inherit;
  top: 7.25rem;
}
.sortable .sortable-wrapper .sortable-selection {
  margin-bottom: 1.25rem;
}
.sortable .sortable-wrapper select {
  margin: 0.625rem 0 0;
}
.sortable .sortable-wrapper hr {
  margin: 0.625rem 0;
  border-color: #8f8f8f;
  width: 100%;
  max-width: 100%;
}

/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}
.wrapper h1 {
  margin-top: 0;
}
.wrapper .content-wrapper {
  margin: 2.5rem 0;
  padding: 2.5rem;
  border-radius: 0.313rem;
  overflow: hidden;
  width: 100%;
}
.wrapper .content-wrapper--login, .wrapper .content-wrapper--signup_start, .wrapper .content-wrapper--signup_error, .wrapper .content-wrapper--signup_done {
  max-width: 30rem;
}
.wrapper .content-wrapper--profile {
  max-width: 43.75rem;
}
.wrapper .content-wrapper.solid {
  background-color: #1E1E1E;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
}
.wrapper .content-wrapper.transparent {
  background-color: rgba(30, 30, 30, 0.5);
}

/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
/*For CKEditor*/
.ck h1, .ck h2, .ck h3, .ck p {
  color: #000 !important;
}
.ck h1 {
  font-size: 1.875rem !important;
}
.ck h2 {
  font-size: 1.625rem !important;
}
.ck h3 {
  font-size: 1.375rem !important;
}
.ck p {
  font-size: 1rem !important;
}

#ck-count-wrapper {
  color: #fff !important;
  width: 100%;
}
#ck-count-wrapper .update {
  border: 1px solid #1E1E1E;
  border-radius: 0.313rem;
  box-shadow: 2px 2px 0px hsla(0, 0%, 0%, 0.1);
  margin: 1.5em 0;
  padding: 1em;
}
#ck-count-wrapper .update h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 0.5em;
  padding: 0;
}
#ck-count-wrapper .update .ck.ck-editor__editable_inline {
  border: 1px solid hsla(0, 0%, 0%, 0.15);
  transition: background 0.5s ease-out;
  min-height: 6em;
  margin-bottom: 1em;
}
#ck-count-wrapper .update__controls {
  background: #fff;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#ck-count-wrapper .update__chart {
  margin: 1rem 0;
  padding: 0;
}
#ck-count-wrapper .update__chart__circle {
  transform: rotate(-90deg);
  transform-origin: center;
}
#ck-count-wrapper .update__chart__characters {
  font-size: 1rem;
  font-weight: bold;
}
#ck-count-wrapper .update__words {
  color: #000;
  font-weight: bold;
  flex-grow: 1;
}
#ck-count-wrapper .ck-editor__editable_inline {
  min-height: 400px;
}
#ck-count-wrapper .update__limit-close .update__chart__circle {
  stroke: hsl(30, 100%, 52%);
}
#ck-count-wrapper .update__limit-exceeded .ck.ck-editor__editable_inline {
  background: hsl(0, 100%, 97%);
}
#ck-count-wrapper .update__limit-exceeded .update__chart__circle {
  stroke: hsl(0, 100%, 52%);
}
#ck-count-wrapper .update__limit-exceeded .update__chart__characters {
  fill: hsl(0, 100%, 52%);
}

.grid-container {
  max-width: 80rem !important;
  /* Small only */
}
@media screen and (max-width: 39.9375em) {
  .grid-container {
    padding-left: 0;
    padding-right: 0;
  }
}

nav[aria-label=breadcrumb] {
  padding: 0 1.25rem;
  background-color: #515151;
}
nav[aria-label=breadcrumb] .breadcrumbs li {
  color: #e7e7e7;
  padding: 0.3125rem;
  margin: 0 !important;
  text-transform: uppercase;
  font-size: 0.6rem !important;
}
nav[aria-label=breadcrumb] .breadcrumbs li:first-child {
  padding-left: 1.25rem;
}
nav[aria-label=breadcrumb] .breadcrumbs li a {
  color: #7D1717;
}

/* CSS Document */
.jconfirm-cell {
  background: rgba(0, 0, 0, 0.7);
}

.jconfirm .jconfirm-box {
  background: #000;
  background: linear-gradient(180deg, rgb(30, 30, 30) 0%, rgb(0, 0, 0) 100%);
  border: double 0.363rem #787878 !important;
  color: #fff !important;
  max-width: 600px;
  width: 100%;
}

.jconfirm-title {
  font-size: 1.2rem;
  font-family: "fty_skorzhen_ncvregular", serif !important;
}

.jconfirm-content {
  font-size: 1rem !important;
}
.jconfirm-content label {
  color: #fff !important;
  font-size: inherit !important;
}
.jconfirm-content select {
  font-size: inherit !important;
}

/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
.chosen-container {
  width: 100% !important;
}
.chosen-container a:hover {
  color: #7D1717;
}
.chosen-container .chosen-results li {
  color: #000000;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #7D1717;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #E34646), color-stop(90%, #7D1717));
  background-image: linear-gradient(#E34646 20%, #7D1717 90%);
  color: #e7e7e7;
}