@charset "UTF-8";
/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  background: url("/assets/images/backgrounds/bg_moutaincity.png");
  background-size: cover;
  background-attachment: fixed;
}

body {
  background: transparent;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body, ul, li, h1, h2, h3, p {
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  line-height: 13.2px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  /* Medium and up */
  /* Large and up */
}
@media screen and (min-width: 40em) {
  body, ul, li, h1, h2, h3, p {
    font-size: 14px;
    line-height: 15.4px;
  }
}
@media screen and (min-width: 64em) {
  body, ul, li, h1, h2, h3, p {
    font-size: 16px;
    line-height: 17.6px;
  }
}

header {
  color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 99;
}

main {
  background: transparent !important;
  color: #fff;
  height: 100%;
  min-height: 100vh;
}

footer {
  color: #ffffff;
  position: fixed;
  width: 100%;
  bottom: 0px;
  z-index: 99;
}

h1 {
  color: #fff;
  font: bold 1.25rem/1.45rem Manuale, serif;
  text-transform: none;
}

h2 {
  color: #fff;
  font-size: 1.0625rem;
  line-height: 1.2325rem;
  text-transform: none;
}

h3 {
  color: #fff;
  font-size: 0.9375rem;
  line-height: 1.0875rem;
  text-transform: none;
}

p {
  color: #fff;
  font: normal 1rem/1.2rem Manuale, serif;
  text-transform: none;
}

i.fa-solid, i.fa-regular, i.fa-brands {
  margin-right: 0.625rem;
}

a, a:hover, a:active, a:focus {
  color: #E34646;
  text-transform: none;
}
a:hover, a:hover:hover, a:active:hover, a:focus:hover {
  color: #f09f9f;
}

form label {
  display: inline-block;
  font: normal 1rem/1.2rem Manuale, serif;
  color: #fff;
  margin-bottom: 0.625rem;
}
form label.input-error {
  color: rgb(196, 118, 118);
  font-weight: bold;
  margin-top: 0.625rem;
  margin-bottom: 1.5rem;
}
form input, form select {
  font: normal 1rem/1.2rem Manuale, serif;
  display: block;
  font-size: inherit;
  margin-bottom: 1.5rem;
  padding: 0.625rem 1.25rem;
  width: calc(100% - 2.5rem);
}
form input.input-error, form select.input-error {
  background: rgb(196, 118, 118);
  border-color: #944040;
  color: #944040;
  margin-bottom: 0;
}
form textarea {
  resize: none;
}
form textarea.input-error {
  background: rgb(196, 118, 118);
  border-color: #944040;
  color: #944040;
  margin-bottom: 0;
}

/* Small only */
/* Medium only */
/* Large only */
/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
.alert {
  display: block;
  border: solid 1px #cc0000;
  background: #FFCCCC;
  margin: 1.25rem 0;
  padding: 1.25rem;
  /*&.alert-danger {

  }*/
}
.alert ul {
  margin: 0;
  padding: 0;
}
.alert ul li {
  color: #cc0000;
  list-style-type: "›";
}

.button {
  cursor: pointer;
  display: inline-block;
  font: normal 1rem/1.2rem Manuale, serif;
  padding: 0.625rem 1.25rem;
  margin-bottom: 0;
}
.button.solid {
  border-radius: 0.313rem;
  border: solid 0.063rem #7D1717;
  color: #fff !important;
  background-color: #7D1717;
}
.button.solid:hover {
  background-color: #d32727;
}
.button.clear {
  color: #fff;
}
.button.clear:hover, .button.clear:active, .button.clear:focus {
  color: #E34646;
}

.form-data {
  font-weight: bold;
}

.navigation-site {
  border-bottom: solid 0.125rem #fff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
}
.navigation-footer {
  border-top: solid 0.125rem #fff;
  font-size: 0.8rem;
}
.navigation-site, .navigation-footer {
  background: #1E1E1E;
}
.navigation-site nav a, .navigation-footer nav a {
  display: inline-block;
  padding: 1.25rem;
  font: normal 1rem/1.2rem Manuale, serif;
}
.navigation-site nav .dropdown, .navigation-footer nav .dropdown {
  position: relative;
  display: inline-block;
}
.navigation-site nav .dropdown .dropdown-content, .navigation-footer nav .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #515151;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navigation-site nav .dropdown .dropdown-content a, .navigation-footer nav .dropdown .dropdown-content a {
  display: block;
}
.navigation-site nav .dropdown:hover .dropdown-content, .navigation-footer nav .dropdown:hover .dropdown-content {
  display: block;
}

.profile {
  text-align: center;
}
.profile .profile-avatar {
  display: block;
  width: 100%;
  max-width: 15.625rem;
  border-radius: 0.313rem;
}
.profile .profile-name {
  display: block;
  font-size: 1.2rem;
}
.profile .profile-role {
  display: block;
  font-size: 0.8rem;
}

.spacer-image {
  margin-bottom: 1.25rem;
}

.text-center {
  text-align: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}
.wrapper h1 {
  margin-top: 0;
}
.wrapper .content-wrapper {
  padding: 2.5rem;
  border-radius: 0.313rem;
  overflow: hidden;
  width: 100%;
}
.wrapper .content-wrapper--login, .wrapper .content-wrapper--signup_start, .wrapper .content-wrapper--signup_error, .wrapper .content-wrapper--signup_done {
  max-width: 30rem;
}
.wrapper .content-wrapper--profile {
  max-width: 43.75rem;
}
.wrapper .content-wrapper.solid {
  background-color: #1E1E1E;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
}
.wrapper .content-wrapper.transparent {
  background-color: rgba(30, 30, 30, 0.5);
}

.content-wrapper {
  border-radius: 0.313rem;
  overflow: hidden;
  width: 100%;
}
.content-wrapper.solid {
  background-color: #1E1E1E;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
}
.content-wrapper.transparent {
  background-color: rgba(30, 30, 30, 0.5);
}

.page-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 5rem 0;
}
.page-wrapper.solid {
  background-color: #1E1E1E;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
}
.page-wrapper.transparent {
  background-color: rgba(30, 30, 30, 0.5);
}
.page-wrapper .tile {
  position: relative;
  color: #fff;
  cursor: pointer;
  background: #1E1E1E;
  background-size: cover;
  background-position: center center;
  border-radius: 0.313rem;
  overflow: hidden;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000; /*bottom */
}
.page-wrapper .tile img {
  display: block;
  height: auto;
  width: 100%;
  border-radius: 0.313rem;
}
.page-wrapper .tile h1 {
  font-size: 1.1rem;
  line-height: 1.2rem;
  margin: 0;
}
.page-wrapper .tile p {
  font-size: 0.9rem;
  line-height: 1rem;
  margin: 0;
}
.page-wrapper .tile-status--nieuw {
  border: solid 2px white;
}
.page-wrapper .tile-status--pending {
  border: solid 2px gold;
}
.page-wrapper .tile-status--pending img {
  filter: contrast(200%);
}
.page-wrapper .tile-status--actief {
  border: solid 2px white;
}
.page-wrapper .tile-status--dood {
  border: solid 2px black;
}
.page-wrapper .tile-status--dood img {
  filter: grayscale(100%);
}
.page-wrapper .tile-status--locked {
  border: solid 2px white;
}
.page-wrapper .tile-status--denied {
  border: solid 2px red;
}
.page-wrapper .tile-status--deleted {
  border: solid 2px darkred;
}
.page-wrapper .tile-status--inactief {
  border: solid 2px grey;
}
.page-wrapper .tile-status--inactief img {
  filter: grayscale(70%);
}
.page-wrapper .tile .tile-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.page-wrapper .tile .tile-content img {
  position: absolute;
  bottom: 0;
}
.page-wrapper .tile .tile-content .tile-description {
  position: absolute;
  padding: 1.25rem;
  text-align: center;
  width: 100%;
  bottom: 0;
}
.page-wrapper .tile .tile-overlay {
  left: 0;
  position: absolute;
  top: 100%;
  transition: top 500ms;
  background: rgba(30, 30, 30, 0.75);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-wrapper .tile .tile-overlay ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-wrapper .tile .tile-overlay ul li {
  padding: 0.3125rem 0;
}
.page-wrapper .tile:hover .tile-overlay {
  top: 0;
}