/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
/* breakpoints */
/* color sets for the application */
/*font-sizings for different screens*/
/* font settings for the headers */
/* font settings for the body */
/* font settings for the links */
/* misc settings */
html {
  padding: 0;
  margin: 0;
}

body {
  color: #000;
}

h1 {
  font: bold 16pt/18pt "Manuale", serif;
}

h2 {
  font: bold 14pt/16pt "Manuale", serif;
}

h3 {
  font: bold 12pt/14pt "Manuale", serif;
}

h4 {
  font: bold 11pt/13pt "Manuale", serif;
}

p {
  font: normal 10pt/12pt "Manuale", serif;
}

hr {
  margin: 0.625rem 0;
}

table {
  border: none;
}
table thead h1, table thead h2, table thead h3, table thead h4 {
  margin: 0;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 11pt;
  line-height: 12pt;
}
table tbody tr td p {
  font: normal 8pt/10pt "Manuale", serif;
}
table tbody tr td p:last-child {
  margin-bottom: 0;
}
table tbody tr td span {
  font: normal 1rem/1.35rem Manuale, serif;
  color: #F5B041;
  font-variant: small-caps;
  font-weight: 700;
  line-height: 10pt;
}

.tile {
  border: 0.5pt solid #1E1E1E;
  font-size: 8pt;
}

.hide-for-print {
  display: none;
}

/* Forces new page */
.page-break {
  page-break-before: always;
}

/* Optional screen styles */
@media screen {
  #page-container {
    position: relative;
    z-index: 0;
  }
  #page-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/assets/images/backgrounds/bg_forestpatrol.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 0.3; /* Only background image is transparent */
    z-index: -1;
  }
  #page-container #page-wrapper {
    background: #fff;
    width: 794px;
    margin: 0 auto;
  }
  .page-break {
    border-top: 2px dashed #ccc;
    margin: 40px 0;
  }
}
/* Hide elements during printing */
@media print {
  #page-wrapper {
    width: 100%;
  }
  .no-padding-print {
    padding: 0;
  }
  .no-print {
    display: none;
  }
}