
@import 'variables';

@mixin heading_1($clr) {
    color: $clr;
    font: $head-font;
    text-transform: $head-font-transform;
}

@mixin heading_2($clr) {
    color: $clr;
    font: $head-font;
    font-size: calc($head-font-size * 0.85);
    line-height: calc($head-line-height * 0.85);
    text-transform: $head-font-transform;
}

@mixin heading_3($clr) {
    color: $clr;
    font: $head-font;
    font-size: calc($head-font-size * 0.75);
    line-height: calc($head-line-height * 0.75);
    text-transform: $head-font-transform;
}

@mixin heading_4($clr) {
    color: $clr;
    font: $head-font;
    font-size: calc($head-font-size * 0.75);
    line-height: calc($head-line-height * 0.75);
    text-transform: $head-font-transform;
}

@mixin paragraph($clr) {
    color: $clr;
    font: $paragraph-font;
    text-transform: $paragraph-font-transform;
}

@mixin small-paragraph($clr) {
    color: $clr;
    font: #{$paragraph-font-weight} calc(#{$paragraph-font-size}*0.85)/calc(#{$paragraph-line-height}*0.85) #{$paragraph-font-family};
    text-transform: $paragraph-font-transform;
}

@mixin emphasize {
    color: $color-highlight;
    font-family: $head-font-family;
    font-variant: small-caps;
    font-weight: 700; 
    font-size: $paragraph-font-size;
    line-height: inherit;       
}

@mixin input-error {
    background: $color-error;
    border-color: darken($color-error,20%);
    color: darken($color-error,20%);
    margin-bottom: 0;
}
