@import 'variables';
@import './parts/tile';
@import 'textstyling';

html {
    padding: 0;
    margin: 0;
}
body {
    color: #000;
}
h1 {
    font: bold 16pt/18pt $head-font-family;
}

h2 {
    font: bold 14pt/16pt $head-font-family;
}

h3 {
    font: bold 12pt/14pt $head-font-family;
}

h4 {
    font: bold 11pt/13pt $head-font-family;
}

p {
     font: normal 10pt/12pt $paragraph-font-family;
}

hr {
    margin: calc($margin/2) 0;
}

table {

    border: none;
    font-family: $paragraph-font-family !important;
    font-size: 0.8rem !important;
    line-height: 1rem !important;

    thead {
        h1, h2, h3, h4 {
            margin: 0;
            text-transform: capitalize;
            font-weight: bold;
            font-size: 11pt;
            line-height: 12pt;
        }
    }

}

.no-spacing {
    margin: 0 !important;
    padding: 0 !important;
}

.tile {
    background-color: #fff;
    color: $color-primary;
    border: 0.5pt solid $color-primary;
    text-shadow: none;
}

.hide-for-print {
    display: none;
}

/* Forces new page */
.page-break {
    page-break-before: always; 
}

/* Optional screen styles */
@media screen {

    #page-container {
        position: relative;
        z-index: 0;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-image: url('/assets/images/backgrounds/bg_forestpatrol.png');
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            opacity: 0.3; /* Only background image is transparent */
            z-index: -1;
        }

        #page-wrapper {            
            background: #fff;
            width:794px;
            margin: 0 auto;              
        }
    }
    
    .page-break {
        border-top: 2px dashed #ccc;
        margin: 40px 0;
    }
}

/* Hide elements during printing */
@media print {
    #page-wrapper {
        width:100%;
    }
    .no-padding-print {
        padding: 0;
    }
    .no-print {
        display: none; 
    }
}