@import '../variables';
@import '../textstyling';

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

body {
    background: $color-bg-body;
    background-image: url('/assets/images/backgrounds/bg_moutaincity.png');
    background-size: cover;
    background-attachment: fixed;
    transition: background-image 3s ease-in-out, opacity 3s ease-in-out;
    opacity: 1;
}

body, ul, li, h1, h2, h3, p {    
    color: $color-font-body;
    font-weight: normal;
    font-size: $font-size-small;
    line-height: calc($font-size-small * 1.1);
    font-family: Arial, sans-serif;
    font-size: 16px;

    /* Medium and up */
    @media screen and (min-width: #{$breakpoint-medium}) {
        font-size: $font-size-medium;
        line-height: calc($font-size-medium * 1.1);
    }
    /* Large and up */
    @media screen and (min-width: #{$breakpoint-large}) {
        font-size: $font-size-large;
        line-height: calc($font-size-large * 1.1);
    }
}

header {
    color: $color-font-footer;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 99;
}

main {
    background: transparent !important;
    color: $color-font-main;
    height: 100%;
    min-height: 100vh;
}

footer {
    color: $color-font-footer;
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: 99;
}

h1 {
    @include heading_1($head-color);
}

h2 {
    @include heading_2($head-color);
}

h3 {
    @include heading_3($head-color);
}

p {
    @include paragraph($paragraph-color);
}

i {
    &.fa-solid, &.fa-regular, &.fa-brands {
        display: inline-block;
        min-width: 1.25rem;
        margin-right: calc(0.5 * $margin);
    }
}

hr {
    margin: calc($margin/2) 0;
}

li {
    color: $paragraph-color;
    font: $paragraph-font;
}

a, a:hover, a:active, a:focus {
    color: $link-color;
    text-transform: $link-font-transform;

    &:hover {
        color: lighten($link-color,20%);
    }
}

form {   

    label {
        display: inline-block;
        font: $paragraph-font;
        font-weight: bold;
        letter-spacing: 1px;
        color: $paragraph-color;
        margin-bottom: calc(0.5 * $margin);

        &.input-error {
            color: $color-error;
            font-weight: bold;
            margin-top: calc($margin * 0.50);
            margin-bottom: calc(1.2 * $margin);
        }
    }

    input, select {        
        font: $paragraph-font;
        display: block;        
        font-size: inherit;
        margin-bottom: calc(1.2 * $margin);
        padding: calc($padding*0.5) $padding;
        width: calc(100% - calc(2*$padding));

        &.input-error {
            @include input-error;
        }
    }

    select {
        width: 100%;
    }

    textarea {
        resize: none;

        &.input-error {
            @include input-error;
        }
    }    
}

ul {
    margin: 0;
    padding: 0;
    list-style: $list-style;
    li {
        padding: 0 0 calc(0.5*$padding) calc(0.5*$padding);        
    }
}

/* Small only */
@media screen and (max-width: #{$breakpoint-small}) {
}
/* Medium only */
@media screen and (min-width: #{$breakpoint-medium}) and (max-width: #{$breakpoint-medium-only}) {
}
/* Large only */
@media screen and (min-width: #{$breakpoint-large}) and (max-width: #{$breakpoint-large-only}) {
}
