@import '../variables';

.choice-row {
    margin-bottom: $margin;
    /* Small only */
    @media screen and (max-width: 39.9375em) {
        padding: calc($padding/2);
        &:not(:last-child) {
            border-bottom: solid 1px lighten($color-primary, 30%);
        }
    }
}

.disabled {
    filter: grayscale(100%);
    pointer-events: none !important;
    opacity: 0.7;
}


.form-data {
    font-weight: bold;
}

label.input-error {
    display: block;
    color: $color-error;
    font-weight: bold;
    margin: $margin 0;
}



#choice-description {
    display: block;
}
#choice-details {
    display: block;
    border: solid 1px #fff;
    padding: $padding;
    margin: $margin 0;
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
    input {
        display: inline-block;
        width: auto;
    }
}
#choice-actions{
    display: block;
}

.reveal {
    background: $color-primary;
    border-radius: $border-radius;
}

.spacer-image {
    margin-bottom: $margin;
}

.text-center {
    text-align: center;
}

.content-wrapper {
    @include tile(large)
}

