@import 'variables.scss';

.alert {
    display: block;
    border: solid 1px #cc0000;
    background: #FFCCCC;    
    margin: $margin 0;
    padding: $padding;
    color: #cc0000;
}

.button {
    
    cursor: pointer;
    display: inline-block;
    font: $paragraph-font;
    padding: calc(0.5*$padding) $padding;
    margin-bottom: 0;
    
    &.solid {
        border-radius: $border-radius;
        border: solid 0.063rem $color-secundary;
        color: $paragraph-color !important;
        background-color: $color-secundary;
        &:hover {
            background-color: lighten($color-secundary,20%);
        }
    }
    &.clear {
        color: $paragraph-color;
        &:hover, &:active, &:focus {
            color: $link-color;
        }
    }
}

.event-container {
    
    background: $color-primary;
    border-radius: $border-radius;
    position: relative;
    overflow: hidden;

    span {
        bottom: 0;
        color: $paragraph-color;
        font-weight: bold;
        left: 0;
        padding: calc($padding/2);
        position: absolute;
        width: 100%;

        text-shadow: 
            1px 0 0 #000, /*right */
            0 1px 0 #000, /*top */
            -1px 0 0 #000, /*left */
            0 -1px 0 #000; /*bottom */
    }

    &.disabled {
        cursor: default;
        pointer-events: none !important;
        opacity: 0.6;
        filter: grayscale(1);
    }
}

.form-character {    
    .info-container {
        position: relative;
        height: auto;
        overflow: hidden;
        width: 100%;
        font-size: calc(0.8*$paragraph-font-size) !important;
        border-radius: $border-radius;
        background: $color-primary;
        padding: $padding;
    }
}

.form-data {
    font-weight: bold;
}

.navigation {

    &-site {
        border-bottom: solid 0.125rem #fff;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
    }
    &-footer {
        border-top: solid 0.125rem #fff;
        font-size: calc(0.8*$paragraph-font-size);
    }
    &-site, &-footer {

        background: $color-primary;

        nav {

            a {
                display: inline-block;
                padding: $padding;
                font: $paragraph-font;
            }

            .dropdown {
                position: relative;
                display: inline-block;               
                
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: lighten($color-primary,20%);
                    min-width: 260px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;      
                    a {
                        display: block;
                    }             
                }

                &:hover {
                    .dropdown-content {
                        display: block;
                    }    
                }
                
            }

        }
    }
}

.page-wrapper {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: calc($padding*4) 0;

    &.solid {
        background-color: $color-primary;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
    }

    &.transparent {
        background-color: rgba($color-primary, 0.5);
    }

    .tile {
        position: relative;
        color: #fff;
        cursor: pointer;
        background: $color-primary;
        background-size: cover;
        background-position: center center;
        border-radius: $border-radius;
        overflow: hidden;
        
        text-shadow: 
            1px 0 0 #000, /*right */
            0 1px 0 #000, /*top */
            -1px 0 0 #000, /*left */
            0 -1px 0 #000; /*bottom */

        img {
            display: block;
            height: auto;
            width:100%;
            border-radius: $border-radius;
        }
        
        h1 {
            font-size: 1.1rem;
            line-height: 1.2rem;
            margin: 0;
        }

        p {
            font-size: 0.9rem;
            line-height: 1.0rem;
            margin: 0;
        }

        &-status {            
            &--nieuw {
                border: solid 2px white;
            }
            &--pending {
                border: solid 2px gold;
                img {                    
                    filter: contrast(200%);
                }
            }
            &--actief {
                border: solid 2px white;
            }
            &--dood {
                border: solid 2px black;
                img {                    
                    filter: grayscale(100%);
                }
            }
            &--locked {
                border: solid 2px white;
            }
            &--denied {
                border: solid 2px red;
            }
            &--deleted {
                border: solid 2px darkred;
            }
            &--inactief {
                border: solid 2px grey;
                img {                    
                    filter: grayscale(70%);
                }
            }
        }  
        
        .tile-content {
            position: relative;
            width: 100%;
            height: 100%;           

            img {
                position: absolute;
                bottom: 0;
            }
            .tile-description {
                position: absolute;
                padding: $padding;
                text-align: center;
                width: 100%;
                bottom: 0;    
            }           
        }

        .tile-overlay {

            left: 0;
            position: absolute;
            top: 100%;
            transition: top 500ms;
            background: rgba($color-primary, 0.75);
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            ul {
                margin:0;
                padding:0;
                list-style: none;
                li {
                    padding: calc($padding*0.25) 0;
                }
            }
        }
        &:hover {
            .tile-overlay {                
                top: 0;                
            }
        } 

    }
}

.profile {
    text-align: center;

    .profile-avatar {
        cursor: pointer;
        position: relative;
        display: block;
        height: auto;
        width: 100%;
        border-radius: $border-radius;
        overflow: hidden;

        img {
            width: 100% !important;
        }

        .profile-avatar-action {
            cursor: pointer;
            position: absolute;
            display: block;
            background-color: rgba($color-primary, 0.5);
            top: 100%;
            height: 100%;
            transition: top 500ms;
            padding: $padding;

            ul {
                li {
                    font-size: calc(0.8*$paragraph-font-size) !important;
                }
            }
            
        }

        &:hover .profile-avatar-action {
            top: 0;
        }
    }
    .profile-name {
        display: block;
        font-size: calc(1.2*$paragraph-font-size);
    }
    .profile-role {
        display: block;
        font-size: calc(0.8*$paragraph-font-size);
    }
}

.reveal {
    background: $color-primary;
    border-radius: $border-radius;
}

.spacer-image {
    margin-bottom: $margin;
}

.text-center {
    text-align: center;
}

.wrapper {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;

    h1 {
        margin-top: 0;
    }

    .content-wrapper {
        padding: calc($padding*2);
        
        &--login, &--signup_start, &--signup_error, &--signup_done {
            max-width: 30rem;
        }
    
        &--profile {
            max-width: 43.75rem;
        }

        @include tile(large)
    }
    
}

.content-wrapper {
    @include tile(large)
}

