@import '../variables';

.navigation {

    &-site {
        border-bottom: solid 0.125rem #fff;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    }
    &-footer {
        border-top: solid 0.125rem #fff;
        font-size: calc(0.8*$paragraph-font-size);
    }
    &-site, &-footer {

        background: $color-primary;

        nav {

            a {
                color: #ddd;
                display: inline-block;
                padding: $padding;
                font: $paragraph-font;
                i {
                    color: $link-color;                            
                }
            }
      
            ul {
                li {
                    padding: 0 !important;
                }
            }
            .accordion {
                background-color: lighten($color-primary,20%);
                .accordion-item {
                    background-color: lighten($color-primary,20%);
                    color: $color-secundary;
                }
                .accordion-title {
                    color: $link-color;                    
                    border: none;
                    &:hover {
                        background-color: lighten($color-primary,30%);
                    }
                }
                .accordion-content {
                    background-color: lighten($color-primary,30%);
                    padding: 0; 
                    border: 0;
                }
            }           

            .dropdown {
                position: relative;
                display: inline-block;               
                
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: lighten($color-primary,20%);
                    min-width: 260px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
                    z-index: 1;      
                    a {
                        color: #ddd;
                        display: block;
                        &:hover{
                            background: lighten($color-primary,30%);
                        }
                        i {
                            color: $link-color;                            
                        }
                    } 
                    @media screen and (max-width: #{$breakpoint-small}) {
                        width: 100vw;
                    }            
                }

                &:hover {
                    .dropdown-content {
                        display: block;
                    }    
                }
                
            }

        }
    }
}
