@import '../variables';

.sortable {
    position: relative;

    .sortable-wrapper {
        position: sticky;
        border-radius: $border-radius;
        background: $color-primary;
        padding: inherit;
        top: 7.25rem;

        select {
            margin: calc($margin/2) 0 0;
        }

        hr {
            margin: calc($margin / 2) 0;
            border-color: #8f8f8f;
            width: 100%;
            max-width: 100%;
        }
    }
}
