@import '../variables';

.tile {
    color: #fff;
    background: $color-primary;
    border-radius: $border-radius;
    overflow: hidden;
    text-shadow: 
        1px 0 0 #000, /*right */
        0 1px 0 #000, /*top */
        -1px 0 0 #000, /*left */
        0 -1px 0 #000; /*bottom */

    &-avatar-wrapper {
        width: 100%;
        background-color: #ccc; /* Optional */
        display: flex;
        overflow: hidden;
        height: 12.5rem;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius;

        /* Medium and up */
        @media screen and (min-width: 40em) {
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            /* Small only */
            @media screen and (max-width: 39.9375em) {
                object-position: top;
            }

        }
    }    

    &-status {          
        &--pending {
            border: 1px solid;
            border-image: linear-gradient(45deg, #d4af37, #f7e694) 1;
            img {                    
                filter: contrast(200%);
            }
        }
        &--new {
            border: solid 1px rgb(127, 127, 127);
        }
        &--active {
            border: solid 1px rgb(255, 255, 255);
        }
        &--dead {
            border: solid 1px rgb(0, 0, 0);
            img {                    
                filter: grayscale(100%);
            }
        }
        &--approved {
            border: solid 1px rgb(255, 255, 255);
        }
        &--denied {
            border: solid 1px rgb(255, 0, 0);
        }
        &--deleted {
            border: solid 1px rgb(139, 0, 0);
        }
        &--inactive {
            border: solid 1px rgb(72, 72, 72);
            img {                    
                filter: grayscale(70%);
            }
        }
    }  
    
    .tile-content {
        padding: $padding;
                            
        h1 {
            font-size: 1.1rem;
            line-height: 1.2rem;
        }

        p {
            font-size: 0.8rem;
            line-height: 1.0rem;
        }

        table, thead, tbody {

            background-color: transparent;
            padding: 0;
            margin: 0 0 $margin;
            border: none;
            font: $paragraph-font;
            font-size: 0.8rem;
            line-height: 1.0rem;

            tr, td {                
                padding: 0 0 calc($padding/4);
                margin: 0;
                background: none;

                h3 {
                    text-transform: capitalize;
                }

                p {
                    text-align: justify;
                }

                span {
                    @include emphasize();
                }

                ul {
                    li {
                        font-size: 0.8rem !important;
                        line-height: 1.0rem !important;
                        padding-left: 0 !important;
                    }
                }
            }
            
        }

        ul {
            list-style: none;  
            margin-left: 0;          
            margin-bottom: $margin;

            &.decorated {
                list-style: initial;
                margin-left: $margin;
            }

            li {
                font-size: 0.9rem;
                padding-left: calc($padding/4);
                padding-bottom: calc($padding/4);
            }
        }
    }
}
